#alex-component{
  width: 320px;
  text-align: center;
  align-items: center;

  display: flex;
  flex-direction: column;

  border: solid white 2px;
  border-radius: 10px;

  img{
    max-width: 300px;
  }

}


.jakaw-profil {
 border: 10px solid rgb(71, 67, 67);
 padding: 1rem;
 border-radius: 12px;
 background-color: rgb(18, 20, 21);
}

.jakaw-profil img{
   width: 200px;
   height: 200px;
   object-fit: cover;
}
